body {
  padding-top: 70px;
}
th {
  text-transform: uppercase;
  font-weight: bold;
}
.center {
  text-align: center;
}
.number {
  text-align: right;
}
.thumbnail {
  min-height: 200px;
}
.thumbnail h2 {
  font-size: 55px;
  color: #444;
}
