<h1>{{ leagueTable.leagueCaption }}</h1>
<h2>Clasificación hasta la jornada: {{ leagueTable.matchday }}</h2>

<table class="table table-bordered table-striped">
    <thead>
        <th class="center">Posición</th>
        <th class="center">Equipo</th>
        <th class="center">Partidos</th>
        <th class="center">Puntos</th>
        <th class="center">GF</th>
        <th class="center">GC</th>
        <th class="center">GD</th>
    </thead>
    <tbody>
        <tr ng-repeat="stand in leagueTable.standing">
            <td class="center">{{ $index + 1 }}</td>
            <td>{{ stand.teamName }}</td>
            <td class="number">{{ stand.playedGames }}</td>
            <td class="number">{{ stand.points }}</td>
            <td class="number">{{ stand.goals }}</td>
            <td class="number">{{ stand.goalsAgainst }}</td>
            <td class="number">{{ stand.goalDifference }}</td>
        </tr>
    </tbody>
</table>
