<h1>{{ leagueTable.leagueCaption }}</h1>
<h2>Clasificación hasta la jornada: {{ leagueTable.matchday }}</h2>

<table class="table table-bordered">
    <thead>
        <th>Posición</th>
        <th>Equipo</th>
        <th>Partidos</th>
        <th>Puntos</th>
        <th>Goles a favor</th>
        <th>Goles en contra</th>
        <th>Diferencia de goles</th>
    </thead>
    <tbody ng-repeat="stand in leagueTable.standing">
        <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ stand.teamName }}</td>
            <td>{{ stand.playedGames }}</td>
            <td>{{ stand.points }}</td>
            <td>{{ stand.goals }}</td>
            <td>{{ stand.goalsAgainst }}</td>
            <td>{{ stand.goalDifference }}</td>
        </tr>
    </tbody>
</table>
