<div class="main">
    <div class="container">

        <div class="row">
            <h1>{{ leagueTable.leagueCaption }}</h1>
            <h2>Resultado hasta la jornada: {{ leagueTable.matchday }}</h2>

            <!-- Mostramos una lista de las diferentes jornadas para mostrar los marcadores. -->
            <ul ng-repeat="n in getNumber(league.numberOfTeams) track by $index">
                <li><a ng-href="#/matchs/{{ $index + 1 }}">{{ $index + 1 }}</a></li>
            </ul>

            <table>
                <tr>
                    <th>Posición</th>
                    <th>Equipo</th>
                    <th>PT</th>
                    <th>PJ</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>GD</th>
                </tr>
                <tr ng-repeat="stand in leagueTable.standing">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ stand.teamName }}</td>
                    <td>{{ stand.points }}</td>
                    <td>{{ stand.playedGames }}</td>
                    <td>{{ stand.goals }}</td>
                    <td>{{ stand.goalsAgainst }}</td>
                    <td>{{ stand.goalDifference }}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
